*{
	margin:0;
	padding:0;
}
body{
	font-size:14px;
	font-family:'Microsoft Yahei';
	color:#666;
}
ul,li{
	list-style:none;
}
a{
	color:inherit;
	text-decoration:none;
}
a:hover{
	color:#000;
}
.infoLists li{
	text-indent:2em;
	line-height:1.5;
}
.infoAdd{
	margin-top:20px;
}
.infoAdd a{display:block;width:100px;height:25px;line-height:25px;text-align:center;background:#333;color:#fff;}
.header{
	margin-bottom:20px;
}
.header h2{
	font-size:24px;
	color:#333;
	font-weight:100;
}
.footer{
	margin-top:30px;
}
.page{font-size:0;margin-top:30px;}
.page a,.page span{
	font-size:13px;
	border:1px solid #dfdfdf;
	color:#999;
	margin:0 3px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:0 5px;
	height:20px;
	line-height:20px;
}
.page span{background:#dfdfdf;}